<div class="container">
    <div class="row">
        <div class="col l6 m7 s10 offset-l3 offset-m3 offset-s1">
            <br />
            <br />
            <div class="card teal z-depth-2">
                <div class="card-content white-text">
                    <h5 class="card-title">Please Sign In</h5>
                </div>
                <div class="card-content blue-grey lighten-5">
                    <form role="form" method="post" action="admin/auth/login">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input data-error="Wrong" data-success="Right" class="validate grey lighten-5" id="email" name="email" type="email" autofocus />
                            <label for="email">E-mail</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">fingerprint</i>
                            <input class="validate grey lighten-5" id="password" name="password" type="password" value="" />
                            <label for="password">Password</label>
                        </div>
                        <div class="card-action blue-grey lighten-4">
                            <div class="checkbox">
                                <p>
                                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                                    <label for="filled-in-box">Remember Me</label>
                                </p>
                            </div>
                            <br />
                            <div>
                                <input value="Login" class="waves-effect waves-light btn" type="submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <?php if (Session::hasFlash()) : ?>
            <div class="card-panel z-depth-2 red darken-1">
                <div class="card-content white-text">
                    <?php Session::flash();?>
                </div>
            </div>
            <?php endif; ?>
        </div>
    </div>
</div>