<div class="page">
    <h4><?=Lang::t('welcome', 'content');?> <i class="material-icons">mood</i></h4>
    <h5> <?=Lang::t('serverResponse', 'content');?> </h5>
    <div class="center-align yellow lighten-5">
        <br />
        <div id="result" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
            </div>    
        </div>
        <br /> 
        <br /> 
    </div>
    <br />
    <div class="input-field">
        <input id="userId" type="text"></input>   
        <label for="userId">User id</label>
    </div>
    <br />
    <button class="waves-effect waves-light btn tooltipped" data-position="right" data-tooltip="<?=Lang::t('ajaxInfo1', 'info');?>" onclick="SendGet();"><?=Lang::t('send', 'form');?></button><br />

</div>
<script type="text/javascript">
    function getXmlHttp() {
        var xmlhttp;
        try {
            xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
            try {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (E) {
                xmlhttp = false;
            }
        }
        if (!xmlhttp && typeof XMLHttpRequest != 'undefined') {
            xmlhttp = new XMLHttpRequest();
        }
        return xmlhttp;
    }

    function SendGet() {
        var input = document.getElementById('userId');
        var output = document.getElementById('result');
        var xmlhttp = getXmlHttp()
        xmlhttp.open('POST', '/api/main/index', false);
        var data = {};
        data.id = Number(input.value);
        xmlhttp.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xmlhttp.send(JSON.stringify(data));
        if (xmlhttp.status == 200) {
            var data = JSON.parse(xmlhttp.responseText);
            if (data) {
                output.className = '';
                output.innerHTML = '';
                var element1 = document.createElement('div');
                var element2 = document.createElement('div');

                element1.innerHTML = 'First Name:' + (data.firstName || '');
                element2.innerHTML = 'Last Name:' + (data.lastName || '');
                output.appendChild(element1);
                output.appendChild(element2);
            }
        }
    }
</script>