<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>
        <?=Xiogop::app()->getTitle();?>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="<?=Xiogop::app()->getTitle();?>">
    <meta name="description" content="">
    <base href="/" />
    <meta http-equiv="Cache-control" content="public" />
    <link rel="shortcut icon" href="./site/img/favicon.ico?1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./bower_components/materialize/dist/css/materialize.css" />
    <link rel="stylesheet" href="./site/css/main.css" />
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <header class="red accent-1">
            <div class="container">
                <ul class="lang">
                    <li class="en<?=Xiogop::app()->router->getLanguage() == 'en' ? ' active' : ' last';?>">
                        <a class="grey-text text-lighten-3" href="<?=Lang::change('en');?>">Eng</a>
                    </li>
                    <li class="ru<?=Xiogop::app()->router->getLanguage() == 'ru' ? ' active' : ' last';?>">
                        <a class="grey-text text-lighten-3" href="<?=Lang::change('ru');?>">Rus</a>
                    </li>
                </ul>
                <nav>
                    <div class="logo"><img src="./site/img/logo.png" alt /></div>
                    <ul class="main-nav">
                        <li>
                            <a href="<?=Xiogop::app()->link('home', 'index');?>">
                                <?=Lang::t('home', 'pages');?>
                            </a>
                        </li>
                        <li>
                            <a href="<?=Xiogop::app()->link('blog', 'index');?>">
                                <?=Lang::t('blog', 'pages');?>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="view">
                <div class="container">
                    <?=Xiogop::app()->view->getContent('content');?>
                </div>
            </div>
        </main>
        <footer class="page-footer footer-block overflow-hidden">
            <div class="container">
                <ul class="foot">
                    <li>
                        <a class="grey-text text-lighten-3" href="<?=Xiogop::app()->link('Home', 'index');?>">
                            <?=Lang::t('home', 'pages');?>
                        </a>
                    </li>
                    <li class="grey-text text-lighten-3">|</li>
                    <li>
                        <a class="grey-text text-lighten-3" href="<?=Xiogop::app()->link('blog', 'index');?>">
                            <?=Lang::t('blog', 'pages');?>
                        </a>
                    </li>
                    <li class="grey-text text-lighten-3">|</li>
                    <li>
                        <a class="grey-text text-lighten-3" href="<?=Xiogop::app()->link('home', 'hello');?>">
                            Hello
                        </a>
                    </li>
                </ul>
                <br />
                <div class="clear"></div>
            </div>
            <div class="footer-copyright copy-center">
                <span>Copyright Xiogop &copy 2017</span>
            </div>
        </footer>
    </div>
    <script src="./bower_components/materialize/dist/js/materialize.min.js"></script>
</body>

</html>